# Working with SQlite using Python and Pandas

### Connect To SQlite Database

In [1]:
import sqlite3
sql_path = "/home/sumit/PycharmProjects/education_experiments/tutorials/data/flights.db"

conn = sqlite3.connect(sql_path)

Once we have created the connection object. we can create curse object that will used to execute queries.

In [2]:
cur = conn.cursor()

We use execute method to run or excute queries

In [6]:
cur.execute("select * from airlines limit 5")
results  = cur.fetchall()

In [8]:
print(results)

[(0, '1', 'Private flight', '\\N', '-', None, None, None, 'Y'), (1, '2', '135 Airways', '\\N', None, 'GNL', 'GENERAL', 'United States', 'N'), (2, '3', '1Time Airline', '\\N', '1T', 'RNX', 'NEXTIME', 'South Africa', 'Y'), (3, '4', '2 Sqn No 1 Elementary Flying Training School', '\\N', None, 'WYT', None, 'United Kingdom', 'N'), (4, '5', '213 Flight Unit', '\\N', None, 'TFU', None, 'Russia', 'N')]

In [10]:
cur.close()
conn.close()

ProgrammingError: Cannot operate on a closed database.

### Reading Result With pandas

dont need to use fetchall method
automatically read headers
return a dataframe

In [11]:
import pandas as pd
import sqlite3

conn = sqlite3.connect(sql_path)
df = pd.read_sql_query("select * from airlines limit 10", conn)

In [13]:
print(df)

   index  id                                          name alias  iata  icao  \
0      0   1                                Private flight    \N     -  None
1      1   2                                   135 Airways    \N  None   GNL
2      2   3                                 1Time Airline    \N    1T   RNX
3      3   4  2 Sqn No 1 Elementary Flying Training School    \N  None   WYT
4      4   5                               213 Flight Unit    \N  None   TFU
5      5   6                 223 Flight Unit State Airline    \N  None   CHD
6      6   7                             224th Flight Unit    \N  None   TTF
7      7   8                                   247 Jet Ltd    \N  None   TWF
8      8   9                                   3D Aviation    \N  None   SEC
9      9  10                                   40-Mile Air    \N    Q5   MLA

         callsign         country active
0            None            None      Y
1         GENERAL   United States      N
2         NEXTIME    South Africa      Y
3            None  United Kingdom      N
4            None          Russia      N
5  CHKALOVSK-AVIA          Russia      N
6      CARGO UNIT          Russia      N
7    CLOUD RUNNER  United Kingdom      N
8         SECUREX   United States      N
9        MILE-AIR   United States      Y

Passing parameters to queries

In [15]:
cur = conn.cursor()
values = ('Test Flight', 'Y')
cur.execute("insert into airlines values (6049, 19847, ?, '', '', null, null, null, ?)", values)
conn.commit()